<%- partial('_partial/head') %>
<body>
  <div id="container">
    <%- partial('_partial/navbar') %>
    <div id="wrap">
      <%- partial('_partial/header') %>
      <div class="outer">
        <%- body %>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>
